//- Common button. Has two state. When disabled second parameter is true.
mixin button(textContent, isDisabled)
    if isDisabled 
        button.form__button.button.button_is-disabled= textContent 
    else 
        button.form__button.button= textContent

//- So called ghost button with no color background inside.
//- Parameters are the same as for common button.
mixin ghost-button(textContent, isDisabled)
    if isDisabled 
        button.button__wrapper.button__wrapper_is-disabled 
            .button__border-wrap 
                .button__empty= textContent
    else
        button.button__wrapper
            .button__border-wrap
                .button__empty= textContent

//- Button with arrow on right side. Usually in wide container.
//- Don't need disabled state.
mixin button-with-arrow(textContent)
    button.form__button.button.button_with-arrow= textContent
        span.button__arrow