//- Show room info (or advantages). Some blocks may have bottom delimiter,
//-         so we need flag to show it (isBottomLineVisible).
mixin room-info(roomImage, roomInfoTitle, roomInfoText, isBottomLineVisible)
    if isBottomLineVisible 
        .room-info.room-info_with-bottom-line
            .room-info__image 
                img(src=roomImage, alt="Room Info Image")
            .room-info__body
                .room-info__body-title.caption= roomInfoTitle 
                .room-info__body-text.text= roomInfoText
    else 
        .room-info
            .room-info__image 
                img(src=roomImage, alt="Room Info Image")
            .room-info__body
                .room-info__body-title.caption= roomInfoTitle 
                .room-info__body-text.text= roomInfoText