//- Entities to include in card.

//- Just card title, simple text with style.
mixin card-title(titleText)
    .text.text_title= titleText

//- Date picker with two separate input fields.
//-     One can set text above eache field (for arrivale and departure).
mixin card-date-picker(arrivalText, departureText)
    .date-picker-container 
        .date-picker-container__left-part
            .form__label-text.text.text_label= arrivalText
            +date-picker("left-date-picker", true)
        .date-picker-container__right-part
            .form__label-text.text.text_label= departureText
            +date-picker("right-date-picker", true)

//- Dropdown, type of it determines by options (second parameter).
mixin card-dropdown(dropdownLabelText, dropdownOptions)
    .form__label-text.text.text_label= dropdownLabelText
    +dropdown(dropdownOptions)

//- Just purple wide button with needed text on it.
mixin card-wide-button(buttonText)
    +button-with-arrow(buttonText)

//- Common text field, type determines by first parameter.
mixin card-text-field(type, name, placeholder, isMasked)
    +text-field(type, name, placeholder, isMasked)

//- Text field to set birth date. Need just name of it and label for it.
mixin card-masked-field(name, maskedFieldLabel)
    .form__label-text.text.text_label= maskedFieldLabel
    +text-field("num", name, "ДД.ММ.ГГГГ", true)

//- Radio buttons. First parameter is array of text caption for radio buttons.
//-     First element checked by default.
//-     FIX: margin bottom is set for radio label, make it none (see ui-kit-form-elements)
mixin card-radios(radioTexts, name)
    .radio__container
        each caption, index in radioTexts 
            if index == 0
                +radio(caption, name, true)
            else 
                +radio(caption, name)

//- Repeat toggle functionality.
mixin card-toggle(cardToggleCaption, cardToggleName, isToggled)
    +toggle(cardToggleCaption, cardToggleName, isToggled)

//- For bottom section of cards. Contains some question and button to act.
mixin card-footer-action(callToAction, actionButtonText)
    .card__horizontal-container 
        .text.text_call-to-action= callToAction
        .card__button-container
            +button-ghost(actionButtonText)

//- Head element for card with total information about room.
mixin card-head-total(roomNumber, roomPrice, isLuxury)
    .card__head-container 
        .card__head-no 
            .card__head-title.text.text_title 
                span № 
                | #{roomNumber}
            if isLuxury 
                .card__head-luxury-mark Люкс
        .card__head-price
            | #{roomPrice}&#8381; 
            span в сутки

//- For calculation area on card with total info of room.
mixin card-calculation(calculationItemText, calculationItemData, textToolTip)
    .card__calculation-flex 
        if textToolTip 
            .card__calculation-text-plus-tip 
                .card__calculation-text.text.text_has-line-height-140= calculationItemText 
                .card__calculation-tip
                    .card__calculation-tooltip= textToolTip
            .card__calculation-data.text= calculationItemData 
        else
            .card__calculation-text.text= calculationItemText 
            .card__calculation-data.text= calculationItemData

mixin card-total-line(totalLineText)
    .card__total-flex 
        .card__total-text.text.text_sub-title.text_has-line-height-100= totalLineText
        .card__total-delimiter 
        .card__total-sum.text.text_sub-title 38&nbsp;081&#8381;