mixin like-button(numLikes, state)
    if state 
        .like-button.like-button_is-highlighted
            .like-button__container
                img(src=require("../assets/img/like-button-selected.svg"), alt="Heart image", class="like-button__heart like-button__heart_is-highlighted")
                .like-button__counter= numLikes 
    else 
        .like-button
            .like-button__container
                img(src=require("../assets/img/like-button-not-selected.svg"), alt="Heart image", class="like-button__heart")
                .like-button__counter= numLikes 

mixin rich-checkbox(name, title, description, isChecked)
    if isChecked
        label.form__label.form__label_with-checkbox.text
            input(type="checkbox", name=name, checked).form__checkbox
            .form__rich-checkbox
                .form__rich-checkbox-title= title 
                .form__rich-checkbox-desc= description
    else
        label.form__label.form__label_with-checkbox.text
            input(type="checkbox", name=name).form__checkbox
            .form__rich-checkbox
                .form__rich-checkbox-title= title 
                .form__rich-checkbox-desc= description

mixin user-review(userImage, userName, time, reviewText, numLikes, isLikeHighlighted)
    .user-review
        .user-review__image
            img(src=userImage, alt="User Image")
        .user-review__info 
            .user-review__name= userName 
            .user-review__time= time
        .user-review__likes
            +like-button(numLikes, isLikeHighlighted)
        .user-review__text.text= reviewText