mixin rich-checkbox(name, title, description, isChecked)
    if isChecked
        label.form__label.form__label_with-checkbox.text
            input(type="checkbox", name=name, checked).form__checkbox
            .form__rich-checkbox
                .form__rich-checkbox-title= title 
                .form__rich-checkbox-desc= description
    else
        label.form__label.form__label_with-checkbox.text
            input(type="checkbox", name=name).form__checkbox
            .form__rich-checkbox
                .form__rich-checkbox-title= title 
                .form__rich-checkbox-desc= description

mixin user-review(userImage, userName, time, reviewText, numLikes, isLikeHighlighted)
    .user-review
        .user-review__image
            img(src=userImage, alt="User Image")
        .user-review__info 
            .user-review__name.caption= userName 
            .user-review__time.text= time
        .user-review__likes
            +like-button(numLikes, isLikeHighlighted)
        .user-review__text.text= reviewText

mixin room-info(roomImage, roomInfoTitle, roomInfoText, isBottomLineVisible)
    if isBottomLineVisible 
        .room-info.room-info_with-bottom-line
            .room-info__image 
                img(src=roomImage, alt="Room Info Image")
            .room-info__body
                .room-info__body-title.caption= roomInfoTitle 
                .room-info__body-text.text= roomInfoText
    else 
        .room-info
            .room-info__image 
                img(src=roomImage, alt="Room Info Image")
            .room-info__body
                .room-info__body-title.caption= roomInfoTitle 
                .room-info__body-text.text= roomInfoText